@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Manrope:wght@400;500;600&family=Plus+Jakarta+Sans:wght@400;600&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* defined */

  --espresso: #3e2c27;
  --beige: #f7d5a3;
  --highlight: #f7d5a3;
  --gold: #c9a227;
  --gold2: #a47e3b;
  --cream: #f9f7f4;
  --cream-light: #fdfaf6;
  --cream-warm: #f3ede6;

  --bg-gradient: radial-gradient(
    circle at top,
    rgba(249, 247, 244, 0.2) 0%,
    rgba(247, 213, 163, 0.9) 35%,
    rgba(62, 44, 39, 1) 90%
  );
  --font-heading: "Raleway", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-accent: "Plus Jakarta Sans", sans-serif;

  --scroll-offset: 58px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  user-select: none;
  -moz-user-select: none;
}

body {
  background-color: var(--cream);
  color: var(--espresso);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
#app {
  background-color: var(--cream);
  color: var(--espresso);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--espresso);
}
h2 {
  font-family: var(--font-accent);
  letter-spacing: 1.6px;
  color: var(--espresso);
  /* text-transform: uppercase; */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-body);
  cursor: pointer;
  transition: 0.3s ease;
}

.scroll-wrapper {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  padding-right: 6px;
}

/* Optional scrollbar styling for cleaner look */
.scroll-wrapper::-webkit-scrollbar {
  width: 6px;
}
.scroll-wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
